<br/>
<br/>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Select Friends</h4>
</div>
<div class="modal-body">
    <h1><%= "Select friends for #{@member.name}" %></h1>
	<% if @members.any? %>
		<%= form_for @friendship do |friendship_form| %>
			<h4>Friends</h4>
			<table id="SelectFriends" class="blueTable" >
			  <thead>
			    <tr>
			    <th>Name</th>
			    <th>Friend</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @members.each do |member, idx| %>
			      <tr>
			        <td><%= hidden_field_tag "friendship[#{idx}][member_id]", @member.id %><%= link_to member.name, "/members/#{member.id}" %></td>
			        <td><%= check_box_tag "friendship[#{idx}][friend_id]", member.id, (!@friends.detect{|f| f.id == member.id}.nil?) %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<br/>
			<div class="modal-footer">
			  <%= hidden_field_tag "member_id", @member.id %>
			  <%= submit_tag("Update", :class=> "cmdButton") %>
			</div>
		<% end %>
	<% end %>
</div>
