<h1>New Member</h1>

<%-#= render 'form', member: @member -%>

<%-#= link_to 'Back', members_path -%>



<%= form_for @member do |form| %>
  <%= label_tag(:name, "Name:") %>
  <%= form.text_field :name %>
  
  <%= label_tag(:heading, "Heading:") %>
  <%= form.text_field :heading %>
  
  <%= label_tag(:website, "Website:") %>
  <%= form.text_field :website %>
  
  <br/><br/>
  <%= submit_tag("Create") %>
<% end %>
