<p id="notice"><%= notice %></p>

<h1>
  <%= @member.name %>
</h1>

<h2>
  <%= @member.heading %>
</h2>

<h3>
  <%= @member.website %> (<%= link_to @member.short_url,  @member.short_url, :target => "_blank" %>)
</h3>

<br/>
<br/>

<%= link_to image_tag("edit.png", title: "Edit", size: "20x20", align: "top"), edit_member_path(@member), :class => 'toolButton' %>
<%= link_to image_tag("back.png", title: "Back", size: "20x20", align: "top"), members_path, :class => 'toolButton' %>
