<div id="main-window">
  <div class="float-right">
    <div class="button row">
    <%= link_to image_tag("home.png", title: "Home", size: "20x20", align: "top"),  '/' , :class => 'toolButton' %>
    </div>
    <div class="button row">
    <%= link_to image_tag("add-friend.png", title: "Add Friends", size: "20x20", align: "top"), "/friendships/select/#{@member.id}", :remote => true, :class => 'toolButton', :onclick => "showModal(); highlight('connect');" %>
    </div>
    <div class="button row">
      <%= link_to image_tag("show.png", title: "Find similar", size: "20x20", align: "top"), "/search/member/#{@member.id}", :remote => true, :class => 'toolButton', :onclick => "showModal(); highlight('search');" %>
    </div>
    <div class="button row">
    <%= link_to image_tag("delete.png", title: "Delete", size: "20x20", align: "top"),  '' , method: :delete, data: { confirm: "DELETE Member:\n#{@member.name}\nAre you sure?" }, :class => 'toolButton' %>
    </div>
    <div class="button row">
      <%= link_to image_tag("back.png", title: "Go back", size: "20x20", align: "top"), :back, :class => 'toolButton' %>
    </div>
  </div>
  <h1>
    <%= @member.name %>
  </h1>
  <h2>
    <%= @member.heading %>
  </h2>
  <h3>
    <%= link_to @member.website, @member.short_url, :target => "_blank" %>
  </h3>
  <% if @friends.any? %>
  <hr>
  <table class='rg-table zebra' summary='Members'>
    <caption class='rg-header'>
      <span class='rg-hed'>Friends</span>
    </caption>
    <thead>
      <tr>
        <th class='text '>Name</th>
        <th class='text '>Page</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr class=''>
          <td class='text ' data-title='Name'><%= link_to friend.name, "/members/#{friend.id}" %></td>
          <td class='text ' data-title='Page'><%= link_to friend.short_url, friend.short_url, :target => "_blank" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <div class="footer">
    <%= link_to "Edit", edit_member_path(@member), :class => 'block' %>
  </div>
</div>

